@import "tailwindcss";

@theme {
  --font-pretendard: "Pretendard Variable", "Pretendard", -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, sans-serif;

  --color-app-bg: #f5f3ef;
  --color-surface: #eceae4;
  --color-primary: #9bc72e;
  --color-primary-dark: #7ea024;
  --color-main: #40342e;
  --color-sub: #8b7b72;
  --color-divider: #d5cec6;
}

* {
  -webkit-tap-highlight-color: transparent;
}
